<div id="add_flight_form">
<div class="container">
<h3>Add Flight</h3>
	<div class="row">
		<div class="nine columns">
			<form>
			<input class="u-full-width" type="text" placeholder=" Departure City" id="new_origin" >
			
			<input class="u-full-width" type="text" placeholder="Arrival City" id="new_destination" >
			
			
			<input class="u-full-width" type="date" id="new_date">
			</div>
	    
	    <div class="six columns">
      <label for="flight_number">Select Plane</label>
      <select class="u-full-width" id="flight_number">
        <option value="GA-777">GA 777</option>
        <option value="FKTS 10">FKTS 10</option>
        <option value="OMG 20">OMG 20</option>
      </select>
    </div>
  </div>
			</form>
			</div>
			<div class="container">
			<div class="row">
			<div class="nine columns">
			<button class="button" type="button" id="back_to_flights">Back</button>
			<button class="button-primary" id='submit_flight' type="button">Submit</button>
			
			</div>
		</div>
		</div>
	</div>
</div>
</div>
<div id="results"></div>
