<h3>Flight Search</h3>
<div class="container">
	<div class="row">
		<div class="nine columns">
			<form>
			<input class="u-full-width" type="text" placeholder=" Departure City" id="origin" >
			
			<input class="u-full-width" type="text" placeholder="Arrival City" id="destination" >
			
			
			<input class="u-full-width" type="date" id="date">
			</form>
			</div>
			<div class="container">
			<div class="row">
			<div class="nine columns">
			<button class="button" type="button" id="back_to_flights">Back</button>
			<button class="button-primary" id='submit_f_search' type="button">Submit</button>
			
			</div>
		</div>
		</div>
	</div>
</div>