<div class="container">
	<span>
		<h2>Plane Index</h2><button class="button-primary" type="button" id="add_plane">Add a Plane</button>
	</span>
	<div class="row">
		<div class="eight columns">
			<div id="flight_form"></div>
				<div id="flight_list">
			<ul></ul>
			</div>
		</div>
	</div>
</div>