
<div class="container">
	<div class="row">
		<div class= "eight columns">
		<form>
		<h2>Add a Plane</h2>
		<ul class="plane_form">
			<span><label>Plane Name</label>
			<input type="text" class="name" value="{{name}}">
			<label>Rows</label>
			<input type="text" class="rows" value="{{rows}}">
			<label>Aisles</label>
			<input type="text" class="columns" value="{{columns}}">
			<input id="submit_plane" class="button" type="submit">
			<button id="cancel_form" class="button-primary">Back</button></span>
			</ul>
		</form>

	</div>
</div>
</div>