<!DOCTYPE html>
<html>
<head>
  <title>Burning Airlines</title>
  <link href='http://fonts.googleapis.com/css?family=Questrial|Sansita+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div class='header'>
<div id="brand">
	<h2><a href="/">BURNING AIRLINES</a></h2>
</div>
<div id="menu_options">
		<ul>
			<li><a href="/">Admin</a></li> |
			<li><a href="airplanes" id="planes_button">Planes</a></li> |
			<li><a href="flights" id="flights_button">Flights</a></li> | 
			<li><a href="search" id="search_button">Search Flights</a></li> |
			<li><a href="/">Users</a></li>
		</ul>
	</div>
</div>
</header>
<main>
<%= yield %>
<div id="container"></div>
</main>
<footer>
	Flight with a burning desire!
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
